extends ./layout/layout.pug

block content

  section#section-booking
    .center-content
      h1 Sunny Coast Handyman
      h3 We pride ourselves on quality work
      button.btn.btn-success(type='button') MAKE A BOOKING / REQUEST A QUOTE


  section#section-introduction
    .center-content.boxshadow
      h2 Introduction
      p Looking for a trustworthy, experienced and licensed Handyman on the Central Coast?
      p Then look no further!
      p Hi, I’m Ben from Sunny Coast Handyman Services, and I have been proudly servicing the
        br
        | Central Coast for just over 7 years. I am fully licensed and insured so you can feel confident
        br
        | when booking me for your next job.
      p I am a family man who loves getting out for wave whenever I can, and spending time with
        br
        | my wife and 2 young kids.
      p Call me a call to discuss your next job – I'd love to speak to you!


  section#section-services
    .center-content.container
      .row.w-100
        .col-sm-12.col-md-6.col-lg-3.col-xl-3
          .service.abn
          p ABN Checked
        .col-sm-12.col-md-6.col-lg-3.col-xl-3
          .service.licensed
          p Licensed and Insured
        .col-sm-12.col-md-6.col-lg-3.col-xl-3
          .service.fix4
          p Fix4me Verified
        .col-sm-12.col-md-6.col-lg-3.col-xl-3
          .service.emergency
          p Emergency Work
      

  section#fix4me
    .center-content.container-fluid
      .row.w-100
        .col
          img.mx-auto(src='assets/images/fix4me.png', alt='Fix4me', title='Fix4me')
          h2 Fix4me Verified Trade Supplier
          button.btn.btn-success(type='button') View my profile


  section#jobphotos
      .center-content.container
        h2 Our Job Photos
        .row.no-gutters
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto1.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto2.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto3.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto4.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto5.png', alt='Job Photo', title='Job Photo')
          .col-md-4.col-sm-12.center-img
            img(src='assets/images/jobphoto6.png', alt='Job Photo', title='Job Photo')
        button.btn.btn-success(type='button') VIEW FULL GALLERY


  section#tradeservices
      .center-content.container-fluid
        h2 Trade Services
        .row.w-100
          .col.d-flex.flex-wrap.justify-content-center
            .trade-item.checked Air Conditioning/Heating
            .trade-item Appliance New/Repairs
            .trade-item.checked Asbestos Inspection
            .trade-item.checked Asbestos Management
            .trade-item Architecture
            .trade-item Balustrudes
            .trade-item Ashphalt Concreting
            .trade-item Balustrades
            .trade-item Bath Resurfacing
            .trade-item Bathroom Renovations
            .trade-item Bin Cleaning
            .trade-item.checked Carpet Repair
            .trade-item Blinds, Curtains, Awnings
            .trade-item Bricklaying
            .trade-item Building
            .trade-item Building Consultancy or Certification
            .trade-item Cabinets
            .trade-item.checked Cabling - Phone/Data/TV

        button.btn.btn-success(type='button') VIEW FULL SERVICES


  section#recentreviews
      .center-content.container
        h2 Our Recent Reviews
        .row
          .col-sm-12.col-lg-6
            .rc-item.boxshadow
              .rc-top
                p.name John Doe
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Fixing windows and installing new door
                p.description Psellus metus massa, auctor ut condimentum dictum, tincidunt nec arcu. Nam pharetra urna ac metus pellentesque porta. Praesent placerat tortor nec lacinia venenatis.“
            //- rc-item
          .col-sm-12.col-lg-6
            .rc-item.boxshadow
              .rc-top
                p.name Jane Smith
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Install carpets in 2 rooms
                p.description Sed varius dignissim augue at sodales. Sed non libero ut dolor feugiat fringilla at sed metus. Nunc mi ante, auctor metus fringilla et purus quis, pharetra blandit purus. 
            //- rc-item
        .row
          .col-sm-12.col-lg-6
            .rc-item.boxshadow
              .rc-top
                p.name Samuel L 
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Coodo, ornare ullamcorpern
                p.description Gravida lorem nisi ac massa. Nunc dui odio, consequat ac odio at, facilisis pulvinar urna. Cras purus turpis, tincidunt vehicula libero commodo, ornare ullamcorper metus. 
            //- rc-item
          .col-sm-12.col-lg-6
            .rc-item.boxshadow
              .rc-top
                p.name Peter Peterson
                img(src="assets/images/ratings5.png", alt="5 Star Review", title="5 Star Review")
              .rc-body
                p.title Plios odo, ornare ullamaw eaol.
                p.description Curabitur lobortis magna nulla, at tristique urna convallis ut. Vivamus iaculis metus non arcu viverra bibendum. Vestibulum efficitur, ex a vestibulum congue, eros nisi blandit dui,
            //- rc-item

        button.btn.btn-success(type='button') VIEW ALL REVIEWS


  section#section-contactus.boxshadow
    .container
      .row.justify-content-between
        .col-sm-12.col-lg-4
          .cu-container.contact.boxshadow
            h2 CONTACT US
            strong PHONE
            p 0413 666 888
            strong ADDRESS
            p 987 The Entrance Road 
              br
              | Erina, NSW 2250
            strong ABN
            p 37 125 870 260

        .col-sm-12.col-lg-7.offset-lg-1
          .cu-container.boxshadow
            h2 OUR SERVICE AREAS
            p Avoca Beach, Bensville, Bouddi, Copacabana, Davistown, Green Point, Kincumber, 
              br
              | Kincumber South, Macmasters Beach, Picketts Valley, Saratoga, Yattalunga, 
              br
              | Erina Heights, Forresters Beach, North Avoca, Terrigal, Wamberal, Bucketty, 
              br
              | Calga, Central Mangrove, East Gosford, Erina, Erina Fair, Glenworth Valley, 
              br
              | Gosford, Greengrove, Holgate ...
            button.btn.btn-success(type='button') 
              i.fas.fa-plus
              | VIEW ALL SERVICE AREAS
      




block scripts
  // External Script goes here...
  script.
    $(document).ready(function() {

    });
